*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
}
#header{
    height: 12%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
#logo{
    height: 65%;
    margin-right: 10%;
}
#logo img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.texts{
    display: flex;
    margin-left: 40%;
    color: gold;
}
#text1:hover{
    color: rgb(195, 144, 14);
}
#text2:hover{
    color: rgb(195, 144, 14);
}
#text3:hover{
    color: rgb(195, 144, 14);
}
#text4:hover{
    color: rgb(195, 144, 14);
}
#text1{
    margin-left: 20px;
}
#text2{
    margin-left: 30px;
}
#text3{
    margin-left: 30px;
}
#text4{
    margin-left: 30px;
}
#fakeheader{
    height: 12%;
    width: 100%;
    background-color: black;
}
.content{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    height: 68%;
    width: 100%;
    color: white;
}
#box1{
    height: 30%;
    width: 40%;
    margin-left: 70px;
    font-family: Cambria;
}
#box1 button{
    background-color: rgb(211, 182, 21);
    margin: 20px;
    padding: 5px;
    width: 25%;
    border: 1px solid rgb(143, 114, 39);
    border-radius: 5px;
    cursor: pointer;
}
#box1 button:hover{
    background-color: rgb(148, 110, 14);
}
#box1 p{
    margin-top: 40px;
    font-weight: 500;
}
#box2{
    height: 80%;
    width: 40%;
    background-color: plum;
    margin: 10px;
    margin-left: 120px;
}
#box2 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#box3{
    height: 80%;
    width: 5%;
    background-color: black;
    margin-left: 10px;
    margin-right: 40px;
}
.btns{
    height: 100px;
    width: 100px;
    color: gold;
    margin-top: 100px;
}
#btn1:hover{
    color:  rgb(195, 144, 14);
}
#btn2:hover{
    color: rgb(195, 144, 14);
}
#btn3:hover{
    color: rgb(195, 144, 14);
}
#btn1{
    margin-top: 40px;
}
#btn2{
    margin-top: 30px;
}
#btn3{
    margin-top: 30px;
}
















